spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

spawn-at-startup "swww-daemon"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "cliphist" "wipe"

spawn-at-startup "nmapplet" "--indicator"
spawn-at-startup "blueman-applet"

spawn-at-startup "swayidle" "-w" "timeout" "300" "niri msg action power-off-monitors"

spawn-at-startup "~/.config/niri/scripts/waybar.sh"
